## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [ ]:
a = 6
print(a)

2) Imprimir el tipo de dato de la variable 8.5

In [ ]:

print(type(8.5))

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [ ]:
a = 6
print(type(a))

4) Crear una variable que contenga tu nombre

In [ ]:
nombre = "jesus"

5) Crear una constante que contenga el número Pi

In [ ]:
PI = 3.14

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [ ]:
PI = 3.14
print(type(PI))

7) Crear una variable que contenga el valor del número **e** redondeado a 4 decimales

In [ ]:
PI = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [ ]:
variable_1 = 'true'
variable_2 = true

#Son diferetes por que son dos tipos de datos diferentes

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [ ]:
print(type(variable_1))
print(type(variable_2))

10) Asignar a una variable, la suma de un número entero y otro decimal

In [ ]:
suma = 3 + 3.5

11) Realizar una operación de suma de un número definido como string con un entero

In [ ]:
suma2 = int("2") + 6

12) Crear una variable que contenga el valor del punto 7 elevado a la 3

In [ ]:
variable_3 =  7**3

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [ ]:
ingreso = input("ingrese un numero")
mutiplicacion = ingreso *5

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [ ]:
division = 27/4
print(division)

15) De la división anterior solamente mostrar la parte entera

In [ ]:
division = 27//4

16) De la división de 27 entre 4 mostrar solamente el resto

In [ ]:
division1= 27%4

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [ ]:
punto15= 6
punto16 = 3
dictado = 4
total = punto15*dictado+punto16

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [ ]:
type("2")
type(2)
#por que son dos tipo de datos diferentes

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [ ]:
type(int("2"))
type(2)

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [ ]:
#por que el numero float no tiene un . sino que tiene una ,

21) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
#no esta permitido hacer operaciones arismeticas condos tipos de datos diferentes, si daria el mismo resultado

22) Crear una variable que contenga un menú con los elementos '1 - Pizza', '2 - Empanadas', '3 - Milanesas', '4 - Salir', y luego mostrarlo por pantalla

In [ ]:
menu ='1-Pizza','2-Empanadas','3-Milanesas','4-Salir'
print(menu)

23) Crear una lista que contenga los números del 1 al 10

In [ ]:
list = [1,2,3,4,5,6,7,8,9,10]

24) Imprimir el penultimo elemento de la lista creada en el punto 22

In [ ]:
list = [1,2,3,4,5,6,7,8,9,10]
print(list[-2])

25) Modificar el tercer elemento de la lista creada en el punto 22 poniendo tu nombre

In [ ]:
list = [1,2,3,4,5,6,7,8,9,10]
list[2]= "jesus"

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [ ]:
matriz = [['a','b','c'],['d','e','f'],['g','h','i']]

27) Imprimir la matriz creada en el punto 26

In [ ]:
print(matriz)

28) Modificar la letra E de la matriz y colocar la letra Z

In [ ]:
matriz = [['a','b','c'],['d','e','f'],['g','h','i']]
matriz[1][1] = "z"

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [ ]:
matriz = [['a','b','c'],['d','e','f'],['g','h','i']]
matriz[0] = [1,2,3]

30) Crear una tupla que contenga 5 marcas de ropa

In [ ]:
tupla = ('adidas','nike','polo','kevintong','rip curl')

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [ ]:
tupla = ('adidas','nike','polo','kevintong','rip curl')
print(tupla[0])

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [ ]:
#no se pueden modificar las tuplas

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [ ]:
diccionario = {"nombre":'jesus', "apellido":"suarez","edad":33 , "hobbies":["salir con amigos","jugar xbox","ver series"] }

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [ ]:
diccionario = {"nombre":'jesus', "apellido":"suarez","edad":33 , "hobbies":["salir con amigos","jugar xbox","ver series"] }
print(diccionario["hobbies"])

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [ ]:
diccionario = {"nombre":'jesus', "apellido":"suarez","edad":33 , "hobbies":["salir con amigos","jugar xbox","ver series"] }
diccionario["edad"] = 34

print(diccionario)